/* --------------------------------------
 * Container
 * -------------------------------------- */

.container {
    --_container-padding: var(--container-padding, var(--space-md-lg));
    --_container-max-width: var(--container-max-width, 110rem);

    max-width: var(--_container-max-width);
    margin-inline: auto;
    padding-inline: var(--_container-padding);

    &.container--narrow {
        --_container-max-width: var(--measure-sm);
    }

    &.container--prose {
        --_container-max-width: var(--measure);
    }

    &.container--wide {
        --_container-max-width: var(--measure-lg);
    }

    &.container--full {
        --_container-max-width: none;
    }

    &[class^='container--full-bleed'] {
        --_container-columns: var(--container-columns, 2);
        padding-inline: 0;
        max-width: unset;
        display: grid;
        grid-template-columns:
            minmax(0, 1fr) repeat(12, minmax(0, calc(var(--_container-max-width) / var(--_container-columns))))
            minmax(0, 1fr);
    }

    &.container--full-bleed-12 {
        --container-columns: 12;
    }

    &.container--full-bleed-6 {
        --container-columns: 6;
    }
}
