/**
     * ICON LAYOUT
     * 
     * A layout for inline icons that align with text. Icons scale with
     * font size and align properly with text baseline.
     * 
     * Usage:
     *   <span class="icon">
     *     <svg>...</svg>
     *   </span>
     * 
     * Custom properties:
     * - --icon-size: Size of icon relative to font (default: 0.75em)
     * - --icon-color: Icon color (default: currentColor)
     *
     * Modifiers:
     * - icon--accent: Sets icon color to accent
     * - icon--secondary: Sets icon color to secondary
     * - icon--inherit: Sets icon color to inherit
     * - icon--xs: Sets icon size to 0.5em
     * - icon--sm: Sets icon size to 0.75em
     * - icon--md: Sets icon size to 1em
     * - icon--lg: Sets icon size to 1.25em
     * - icon--xl: Sets icon size to 1.5em
     */
.icon {
    --_icon-size: var(--icon-size, 1em);
    --_icon-color: var(--icon-color, currentColor);

    height: var(--_icon-size);
    width: var(--_icon-size);
    display: inline-block;
    vertical-align: middle;
    color: var(--icon-color);
    flex-shrink: 0;

    > svg {
        height: 100%;
        width: 100%;
        fill: currentColor;
    }
}

.icon--accent {
    --icon-color: var(--color-accent);
}

.icon--secondary {
    --icon-color: var(--color-foreground-secondary);
}

.icon--inherit {
    --icon-color: inherit;
}

.icon--xs {
    --icon-size: 0.5em;
}

.icon--sm {
    --icon-size: 0.75em;
}

.icon--md {
    --icon-size: 1em;
}

.icon--lg {
    --icon-size: 1.25em;
}

.icon--xl {
    --icon-size: 1.5em;
}
