/**
     * IMPOSTER LAYOUT
     * 
     * A layout that positions an element over another element, typically
     * for overlays, badges, or floating content. Uses absolute positioning.
     * 
     * Usage:
     *   <div class="imposter imposter-contain">
     *     <div>Base content</div>
     *     <div class="imposter-element">Overlay content</div>
     *   </div>
     * 
     * Custom properties:
     * - --imposter-margin: Margin around the imposter element (default: 0px)
	 *
	 * Modifiers:
	 * - imposter--margin-*: Sets margin around the imposter element
	 * - imposter--contain: Contains the imposter element
	 * - imposter--fixed: Fixes the imposter element in place
     */
.imposter {
    --_imposter-margin: var(--imposter-margin, 0px);
    position: relative;
}

.imposter-contain {
    overflow: hidden;
}

.imposter-element {
    position: absolute;
    top: var(--_imposter-margin);
    bottom: var(--_imposter-margin);
    left: var(--_imposter-margin);
    right: var(--_imposter-margin);
}

.imposter-fixed {
    position: fixed;
}

@ruler utility({
    selector: '.imposter--margin',
    property: '--imposter-margin',
    scale: 'space',
    generateAllCrossPairs: true,
});
