@custom-media --2xs (min-width: 420px);
@custom-media --2xs-down (max-width: 419px);
@custom-media --xs (min-width: 520px);
@custom-media --xs-down (max-width: 519px);
@custom-media --sm (min-width: 768px);
@custom-media --sm-down (max-width: 767px);
@custom-media --md (min-width: 1024px);
@custom-media --md-down (max-width: 1023px);
@custom-media --lg (min-width: 1280px);
@custom-media --lg-down (max-width: 1279px);
@custom-media --xl (min-width: 1640px);
@custom-media --xl-down (max-width: 1639px);
@custom-media --2xl (min-width: 1920px);
