/*
 * Preschool Framework Styles
 *
 * Main entry point for all CSS
 */

@layer reset, tokens, base, layout, components, utilities, animations;

@import './reset.css' layer(reset);
@import './prose.css' layer(base);
@import './utilities.css' layer(utilites);

@import-glob "./tokens/*.css" layer(tokens);
@import-glob "./layout/*.css" layer(layout);
@import-glob "./components/*.css" layer(components);
@import-glob "./animations/*.css" layer(animations);

/* Web Components */
@import-glob "../components/**/*.css" layer(components);
