:root {
    --linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
    --ease: ease;
    --ease-in: ease-in;
    --ease-out: ease-out;
    --ease-in-out: ease-in-out;
    --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
    --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
    --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-cubic: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-quart: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-quart: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-quart: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-quint: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-quint: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-quint: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-in-expo: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-expo: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-expo: cubic-bezier(0.455, 0.03, 0.515, 0.955);    

    /* Default easing value */
    --easing: var(--ease-out-quad);
}