:root {
    @ruler scale({
    pairs: [
        ["4xs", 2, 4],
        ["3xs", 4, 6],
        ["2xs", 6, 8],
        ["xs", 8, 12],
        ["s", 12, 16],
        ["m", 16, 24],
        ["l", 24, 32],
        ["xl", 32, 48],
        ["2xl", 48, 64],
        ["3xl", 64, 96],
        ["4xl", 96, 128],
        ["5xl", 128, 192],
        ["6xl", 192, 256],
    ],
    prefix: 'space', 
    });
}
.kurt {
    @ruler utility({
    selector: '&.space',
    property: 'margin-block',
    scale: 'space',
    generateAllCrossPairs: true,
});
}
