:root {
    /* Default to system ui stack */
    --font-family-body:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-family-heading: var(--font-family-body);
    --font-family-alt: var(--font-family-body);
    --letter-spacing-tight: -0.05em;
    --letter-spacing-normal: 0;
    --letter-spacing-loose: 0.05em;
    --letter-spacing-looser: 0.17em;
    --line-height-tighter: 0.75;
    --line-height-tight: 1;
    --line-height-snug: 1.33;
    --line-height: 1.5;
    --line-height-loose: 1.75;
    --font-weight-thin: 100;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 800;
    --font-weight-black: 900;

    --measure: 65ch;
    --measure-heading-1: 30ch;
    --measure-heading-2: var(--measure-s);
    --measure-heading-3: var(--measure-s);
    --measure-heading-4: var(--measure-s);
    --measure-heading-5: var(--measure-s);
    --measure-heading-6: var(--measure-s);
    --measure-xl: 100ch;
    --measure-l: 75ch;
    --measure-m: 50ch;
    --measure-s: 45ch;
    --measure-xs: 20ch;

    --font-size: var(--font-size-0);

    @ruler scale({
        pairs: [
            ["-2", 11, 12],
            ["-1", 14, 16],
            ["0", 16, 20],
            ["1", 18, 24],
            ["2", 20, 32],
            ["3", 24, 36],
            ["4", 28, 48],
            ["5", 32, 64],
        ],
        prefix: 'font-size',
    });
}
